---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-..." crossorigin="anonymous">

<BaseLayout title = "Contato | Ryan Barros" sideBarActiveItemID="contato">
  <div>
    <div class="text-3xl py-3 font-bold">Contato</div>
  </div>
    <div class="py-2">
        <text class="text-lg">Email: </text>
    </div>
    <div class="divider my-0">
    </div>
    <div class="py-2">
        <text class="text-lg">ryan.santos.barros@hotmail.com</text>
    </div>
    <br>
    <div>
        <div class="text-3xl py-3 font-bold">WhatsApp <i class="fab fa-whatsapp"></i></div>
      </div>
      <div class="divider my-0"></div>
      <div>
        <p class="whatsapp-text">Celular: (16) 99202-0084</p>
      </div>
