---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Currículo | Ryan Barros" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Biografia</div>
  </div>

  <div class="mb-10 text-justify">
    Estudante dedicado de Ciências da Computação, apaixonado por tecnologia e constantemente em busca de conhecimento na área, complementando minha formação acadêmica com cursos online e projetos pessoais. Mesmo em fase de graduação, estou preparado para o mercado de trabalho devido ao meu esforço contínuo. Com experiência como Mecânico de Usinagem patrocinado pelo Senai, e na Magazine Luiza, destaco-me pela excelência no atendimento, prospecção de clientes e compreensão dos processos. Atualmente, busco oportunidades na área de tecnologia e desenvolvimento para aplicar meu entusiasmo, aprendizado rápido e comprometimento.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência Profissional</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Assistente admnistrativo"
      subtitle="Novembro/2021 a Fevereiro/2024 - Magazine Luiza"
    >
    Responsável por analisar solicitações de parceiros/clientes no Backoffice do Magalu, utilizando sistemas para resolver problemas de maneira eficaz e priorizando os interesses tanto da empresa quanto do cliente.
    </TimeLineElement>
    <TimeLineElement
      title="Agente de relacionamento"
      subtitle="Agosto/2020 a Novembro/2021 - Magazine Luiza"
    >
    Atendimento a clientes via telefone, chat e e-mail. Registro de protocolos e resolução eficiente de questões pós-venda.
    </TimeLineElement>
    <TimeLineElement
      title="Mecânico de Usinagem"
      subtitle="Janeiro/2018 a Dezembro/2019 - Calçados Perlatto"
    >
    Operador de máquinas para produzir peças precisas conforme desenhos técnicos. Desenvolve programas CNC, realiza manutenção e verifica qualidade das peças. Patrocinado pela Calçados Perlatto.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Conhecimentos</div>
  </div>

  <ul class="list-disc md:columns-3 columns-1 mx-6 mb-10">
    <li>
      <a href="#" target="_blank"> Hardware (Formatação, Drivers, Antivírus);</a>
    </li>
    <li>
      <a href="#" target="_blank"> Linguagens de Programação: JavaScript, Python, Node JS, React e Java;</a>
    </li>
    <li>
      <a href="#" target="_blank"> Bancos de dados relacionais;</a>
    </li>
    <li>
      <a href="#" target="_blank">Supabase</a>
    </li>
    <li>
      <a href="#" target="_blank"> Git e Github</a>
    </li>
    <li>
      <a href="#" target="_blank"> Zendesk</a>
    </li>
    <li>
      <a href="#" target="_blank">  Administração de Servidores: Microsoft Windows Server;</a>
    </li>
    <li>
      <a href="#" target="_blank">  Virtualização de Contêineres utilizando Docker;</a>
    </li>
    <li>
      <a href="#" target="_blank">Jetbrains</a>
    </li>
    <li>
      <a href="#" target="_blank"> Manutenção e reparo de computadores;</a>
    </li>
    <li>
      <a href="#" target="_blank"> Office 365 (Word, Excel, PowerPoint); </a>
    </li>
    <li>
      <a href="#" target="_blank">Diagramas UML.</a>
    </li>
    <li>
      <a href="#" target="_blank">Netlify</a>
    </li>
    <li>
      <a href="#" target="_blank">Datagrip</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Cursos</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Santander 2024 - Backend com Java (Em andamento)</li>
    <li>Manutenção e formatação de computadores</li>
    <li>Microsoft Windows Server 2019</li>
    <li>Espanhol</li>
    <li>Informática avançada</li>
    <li>JavaScript</li>
    <li>Versionamento de código com Git e Github</li>
    <li>Sintaxe Java</li>
  </ul>
</BaseLayout>
