---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Bem vindo!</div>
    <div class="text-5xl font-bold">Meu nome é Ryan Barros</div>
    <div class="text-3xl py-3 font-bold">Desenvolvedor FullStack | Infraestrutura | Suporte</div>
    <div class="py-2">
      <text class="text-lg">
        Tenho 23 anos e sou estudante de Ciências da Computação, apaixonado por tecnologia, estou sempre buscando aprender coisas novas e pronto para novos desafios. Tenho grande interesse por tecnologia no geral, desde desenvolvimento de software até áreas como suporte técnico, infraestrutura e produtos digitais. Minha determinação, aprendizado rápido e comprometimento são ativos valiosos para equipes ou projetos da sua empresa.
        <br>
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://instagram.com/ryaanbarros" target="_blank"> Instagram</a>
      <a href="https://calendar.google.com/calendar/u/0?cid=MWY4OWNmZWRlZTFhOGU3NzRlMTFiZjU2ZmZiYzNjNTg3ODgxYjFmNGFmMWY2NDE2MjU1MDhlYmZmYjk3NDQyNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t" target="_blank" class="btn btn-outline ml-5">
        Agende uma reunião
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Meus últimos projetos {"</>"}</div>
  </div>

  <HorizontalCard
    title="Jogo da cobrinha(Versão dragon ball)"
    img="/dragao.png"
    desc="O clássico jogo da cobrinha, agora em busca das esferas do dragão em um mundo inspirado em Dragon Ball."
    url="https://snakedragonball.netlify.app/"
    badge="Jogo 100% em JavaScript"
  />
</BaseLayout>
