---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Bem vindo!</div>
    <div class="text-5xl font-bold">Meu nome é Ryan Barros</div>
    <div class="text-3xl py-3 font-bold">Desenvolvedor | Infraestrutura | Suporte | Microsoft Windows Server</div>
    <div class="py-2">
      <text class="text-lg">
        Tenho 21 anos, sou dedicado e inteligente, sempre pronto para novos desafios e em constante busca por conhecimento! Estudante de Ciências da Computação apaixonado por tecnologia. Com experiência como Mecânico de Usinagem patrocinado pelo Senai, e na Magazine Luiza, destaco-me pelas minhas habilidades de comunicação, excelência no atendimento, resolução de problemas e compreensão dos processos. Estou entusiasmado para aplicar meu conhecimento em desenvolvimento de software, combinando minha experiência profissional com meus estudos. Minha determinação, aprendizado rápido e comprometimento são ativos valiosos para equipes ou projetos que envolvam tecnologia.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://instagram.com/ryaanbarros" target="_blank"> Instagram</a>
      <a href="https://calendar.google.com/calendar/u/0?cid=MWY4OWNmZWRlZTFhOGU3NzRlMTFiZjU2ZmZiYzNjNTg3ODgxYjFmNGFmMWY2NDE2MjU1MDhlYmZmYjk3NDQyNkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t" target="_blank" class="btn btn-outline ml-5">
        Agende uma reunião
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Meus últimos projetos {"</>"}</div>
  </div>

  <HorizontalCard
    title="Cadastro de clientes - Ecommerce"
    img="/post_img.webp"
    desc="Em desenvolvimento..."
    url="https://clienteryan.netlify.app/"
    badge="NEW"
  />
</BaseLayout>
